
# dependencies
/node_modules
/bin

# testing
/coverage

# misc
.DS_Store
Thumbs.db
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/logs
/build
/server

server.exe
/compiled
makeFile
config.yml